@use "./reset";
@use "./variables/global" as *;
@use "./themes/normal";
@use "./themes/dark";

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}