.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.Text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--primary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}