@use "../variables/global" as v;

.app_dark_theme {
  --font-family-main: #{v.$font-family-main};
  --font-m: #{v.$font-m};
  --font-l: #{v.$font-l};

  --bg-color: #{v.$bg-color-dark};
  --inverted-bg-color: #{v.$bg-color-light};
  --primary-color: #{v.$primary-color-dark};
  --secondary-color: #{v.$secondary-color-dark};
  --inverted-primary-color: #{v.$primary-color-light};
  --inverted-secondary-color: #{v.$secondary-color-light};
  --red-dark: #{v.$red-dark};
}