@use "../variables/global" as v;

:root {
  --font-family-main: #{v.$font-family-main};
  --font-m: #{v.$font-m};
  --font-l: #{v.$font-l};
  
  --bg-color: #{v.$bg-color-light};
  --inverted-bg-color: #{v.$bg-color-dark};
  --primary-color: #{v.$primary-color-light};
  --secondary-color: #{v.$secondary-color-light};
  --inverted-primary-color: #{v.$primary-color-dark};
  --inverted-secondary-color: #{v.$secondary-color-dark};
  --red-light: #{v.$red-light};
}